<!-- <p>
  header works!
</p> -->

<nav class="navbar">
  <div class="col-12">
      
      <div class="navbar-header">
          <a href="javascript:void(0);" class="bars"></a>
          <a class="navbar-brand" href="">{{ 'admin_console_title' | translate }}</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
          <!-- <li><a href="javascript:void(0);" class="ls-toggle-btn" data-close="true"><i class="zmdi zmdi-swap"></i></a></li>
          <li><a href="mail-inbox.html" class="inbox-btn hidden-sm-down" data-close="true"><i class="zmdi zmdi-email"></i></a></li> -->
          <li class="dropdown menu-app hidden-sm-down"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"> <i class="zmdi zmdi-apps"></i> </a>
              <ul class="dropdown-menu slideDown">
                  <li class="body">
                      <ul class="menu">
                          <li><a href="/"><i class="zmdi zmdi-view-dashboard"></i><span>{{ 'header_menu_dashboard' | translate }}</span></a></li>
                          <li><a routerLink="/users"><i class="zmdi zmdi-group-work"></i><span>{{ 'header_menu_users' | translate}}</span></a></li>
                          <li><a routerLink="/auths"><i class="zmdi zmdi-key"></i><span>{{ 'header_menu_auths' | translate }}</span></a></li>
                          <li><a routerLink="/messages"><i class="zmdi zmdi-comment-text"></i><span>{{ 'header_menu_messages' | translate }}</span></a></li>
                          <li><a routerLink="/logs"><i class="zmdi zmdi-collection-text"></i><span>{{ 'header_menu_logs' | translate }}</span></a></li>
                          <!-- <li><a href="events.html"><i class="zmdi zmdi-calendar-note"></i><span>Calendar</span></a></li> -->
                      </ul>
                  </li>
              </ul>
          </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="zmdi zmdi-search"></i></a></li>
          <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-notifications"></i>
              <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
              </a>
              <ul class="dropdown-menu slideDown">
                  <li class="header">NOTIFICATIONS</li>
                  <li class="body">
                      <ul class="menu list-unstyled">
                          <li> <a href="javascript:void(0);">
                              <div class="icon-circle l-coral"> <i class="material-icons">person_add</i> </div>
                              <div class="menu-info">
                                  <h4>12 new members joined</h4>
                                  <p> <i class="material-icons">access_time</i> 14 mins ago </p>
                              </div>
                              </a> </li>
                          <li> <a href="javascript:void(0);">
                              <div class="icon-circle l-turquoise"> <i class="material-icons">add_shopping_cart</i> </div>
                              <div class="menu-info">
                                  <h4>4 sales made</h4>
                                  <p> <i class="material-icons">access_time</i> 22 mins ago </p>
                              </div>
                              </a> </li>
                          <li> <a href="javascript:void(0);">
                              <div class="icon-circle g-bg-cyan"> <i class="material-icons">delete_forever</i> </div>
                              <div class="menu-info">
                                  <h4><b>Nancy Doe</b> deleted account</h4>
                                  <p> <i class="material-icons">access_time</i> 3 hours ago </p>
                              </div>
                              </a> </li>
                          <li> <a href="javascript:void(0);">
                              <div class="icon-circle g-bg-blue"> <i class="material-icons">mode_edit</i> </div>
                              <div class="menu-info">
                                  <h4><b>Nancy</b> changed name</h4>
                                  <p> <i class="material-icons">access_time</i> 2 hours ago </p>
                              </div>
                              </a> </li>
                          <li> <a href="javascript:void(0);">
                              <div class="icon-circle l-slategray"> <i class="material-icons">comment</i> </div>
                              <div class="menu-info">
                                  <h4><b>John</b> commented your post</h4>
                                  <p> <i class="material-icons">access_time</i> 4 hours ago </p>
                              </div>
                              </a> </li>
                          <li> <a href="javascript:void(0);">
                              <div class="icon-circle l-seagreen"> <i class="material-icons">cached</i> </div>
                              <div class="menu-info">
                                  <h4><b>John</b> updated status</h4>
                                  <p> <i class="material-icons">access_time</i> 3 hours ago </p>
                              </div>
                              </a> </li>
                          <li> <a href="javascript:void(0);">
                              <div class="icon-circle l-blue"> <i class="material-icons">settings</i> </div>
                              <div class="menu-info">
                                  <h4>Settings updated</h4>
                                  <p> <i class="material-icons">access_time</i> Yesterday </p>
                              </div>
                              </a> </li>
                      </ul>
                  </li>
                  <li class="footer"> <a href="javascript:void(0);">View All Notifications</a> </li>
              </ul>
          </li>
          <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-flag"></i>
              <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
              </a>
              <ul class="dropdown-menu slideDown">
                  <li class="header">TASKS</li>
                  <li class="body">
                      <ul class="menu tasks list-unstyled">
                          <li> <a href="javascript:void(0);">
                              <h4> Footer display issue <small>72%</small> </h4>
                              <div class="progress">
                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                              </div>
                              </a> </li>
                          <li> <a href="javascript:void(0);">
                              <h4> Make new buttons <small>56%</small> </h4>
                              <div class="progress">
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                              </div>
                              </a> </li>
                          <li> <a href="javascript:void(0);">
                              <h4> Create new dashboard <small>68%</small> </h4>
                              <div class="progress">
                                  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                              </div>
                              </a> </li>
                          <li> <a href="javascript:void(0);">
                              <h4> Solve transition issue <small>77%</small> </h4>
                              <div class="progress">
                                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                              </div>
                              </a> </li>
                          <li> <a href="javascript:void(0);">
                              <h4> Answer GitHub questions <small>87%</small> </h4>
                              <div class="progress">
                                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                              </div>
                              </a> </li>
                      </ul>
                  </li>
                  <li class="footer"> <a href="javascript:void(0);">View All Tasks</a> </li>
              </ul>
          </li> -->
          <li>
              <a href="javascript:void(0);" class="fullscreen hidden-sm-down" data-provide="fullscreen" data-close="true">
                  <i class="zmdi zmdi-fullscreen"></i>                   
              </a>
          </li>
          <li><a (click)="logout()" class="mega-menu hand_cursor" data-close="true"><i class="zmdi zmdi-power"></i></a></li>
          <!-- <li class=""><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li> -->
      </ul>
  </div>
</nav>