<!-- <p>
  user works!
</p> -->

<div class="user-info">
  <div class="image">
      <img src="assets/images/xs/avatar1.jpg" width="48" height="48" alt="User" />
  </div>
  <div class="info-container">
      <div class="name" data-toggle="dropdown" tooltip="{{user.fullname}}" placement="right" show-delay="500">
        {{ user.fullname | truncate:15 }}
      </div>
      <div class="btn-group user-helper-dropdown">
          <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="button"> keyboard_arrow_down </i>
          <ul class="dropdown-menu slideUp">
              <li><a href="profile.html"><i class="material-icons">person</i>{{ 'profile_menu_profile' | translate }}</a></li>
              <li class="divider"></li>
              <!-- <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
              <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
              <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
              <li class="divider"></li> -->
              <li><a (click)='logout()'><i class="material-icons">input</i>{{ 'profile_menu_logout' | translate }}</a></li>
          </ul>
      </div>
      <div class="email" tooltip="{{user.email}}" placement="right" show-delay="500">{{ user.email | truncate:18 }}</div>
  </div>
</div>