<!-- <p>
  sidebar works!
</p> -->

<aside id="leftsidebar" class="sidebar">
  <!-- User Info -->
  <app-user></app-user>
  <!-- #User Info --> 
  <!-- Menu -->
  <div class="menu">
      <ul class="list">
          <li class="header">{{ 'sidebar_menu_title' | translate }}</li>
          <li> <a href="/"><i class="zmdi zmdi-view-dashboard"></i><span>{{ 'main_menu_dashboard' | translate }}</span> </a> </li>
          <li> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-shield-check"></i><span>{{ 'main_menu_access' | translate }}</span> </a>
              <ul class="ml-menu">
                  <li> <a routerLink="/users">{{ 'main_menu_access_users' | translate }}</a></li>
                  <li> <a routerLink="/auths">{{ 'main_menu_access_auths' | translate }}</a></li>
              </ul>
          </li>
          <li> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-info"></i><span>{{ 'main_menu_records' | translate }}</span> </a>
              <ul class="ml-menu">
                  <li> <a routerLink="/messages">{{ 'main_menu_records_messages' | translate }}</a> </li>
                  <li> <a routerLink="/logs">{{ 'main_menu_records_logs' | translate }}</a></li>
              </ul>
          </li>
      </ul>
  </div>
  <!-- #Menu --> 
</aside>    