<!--The content below is only a placeholder and can be replaced.-->
{{ setTitle('admin_console_title'|translate)}}
<app-wait></app-wait>
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- Search  -->
<app-search></app-search>
<!-- Top Bar -->
<app-header></app-header>
<!-- Left Sidebar -->
<app-sidebar></app-sidebar>
<!-- Right Sidebar -->
<!-- <app-rightbar></app-rightbar> -->
<!-- Chat-launcher -->
<!-- <app-chat></app-chat> -->
<!-- Main Content -->
<router-outlet></router-outlet>
